* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: 'Heebo', sans-serif;
	height: 2300px;
	max-width: 375px;
}
.container {
	margin: 20px;
	position: relative;
}
/* general for a */
a {
	text-decoration: none;
	color: #ffffff
}
.header-logo {
	display: flex;
	flex-direction: row-reverse;
}
/* introduce */
.introduce-main {
	position: relative;
}
.introduce-img {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 33px;

}
.introduce-img-1 {
	z-index: 2;
}
.introduce-img-2 {
	position: absolute;
	top: 145px;
	transform: translateY(-50%);
	z-index: 1;
}
/* introduce-content */
.introduce-content {
	position: absolute;
	top: 400px;
	transform: translateY(-50%);

	width: 319px;
	
	text-align: center;
}
.introduce-content h1 {
	margin-bottom: 21px;

	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
}
.introduce-content p {
	font-size: 16px;
	line-height: 23px;

}
.introduce-btn {
	position: absolute;
	top: 545px;
	left: 60px;

	width: 208px;
	height: 47px;
	border-radius: 3px;

	color: #ffffff;
	background-color: #FF6464;

	font-family: 'Heebo', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 29px;
	text-align: center;

	cursor: pointer;
}
/* posts-main */
.posts-main {
	position: absolute;
	top: 370px;
	left: 0;

	width: 375px;
	height: 680px;
	margin-left: -20px;
	padding-top: 10px;
	box-sizing: border-box;

	background: #EDF7FA;
}
.posts-main h3 {
	color: #21243D;

	font-size: 18px;
	line-height: 60px;
	text-align: center;
	font-weight: 400;
}
/* ******* */
.Posts-general {
	width: 354px;
	height: 266px;
	margin: 0 auto;

	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);

	text-align: left;
}
.Posts-general + .Posts-general {
	margin-top: 30px;
}
.Posts-general h2 {
	width: 327px;
	height: 60px;
	max-width: fit-content;
	padding: 16px 30px;
	color: #21243D;

	font-size: 22px;
	line-height: 30px;
	font-weight: 700;
	text-align: left;
}
.Posts-general p {
	width: 314px;
	height: 117px;
	max-width: fit-content;
	margin-left: 30px;
	margin-top: 19px;

	color: #21243D;

	line-height: 23.5px;
	font-weight: 400;	
}
/* date */
.date {
	display: flex;
	flex-direction: row;
}
.date > span {
	display: block;
	margin-left: 30px;
}
.date  span:first-child {
	padding-right: 24px;
	border-right: 1px solid #000000;
}
/* Featuredworks-main */
.Featuredworks-main {
	position: absolute;
	top: 1080px;

}
/*  Dashboards  */
.Dashboards {
	width: 344px;
	height: 455px;
	margin-top: 24px;

	border-bottom: 1px solid #8695A4;
}
.Dashboards h2  {
	margin-top: 17px;

	color: #21243D;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

}
/* year-Dashboard */
.year-Dashboard button {
	width: 62px;
	height: 25px;
	margin-right: 22px;
	margin-bottom: 24px;
	border-radius: 16px;

	background-color: #142850;
	color: #ffffff;

	font-size: 16px;
	line-height: 25px;
	font-weight: 900;
}
/* ***** */
/* footer */
.footer-main {
	position: absolute;
	top: 1650px;
	left: 70px
}
.footer-icon {
	display: flex;
	gap: 0 30px;
}
.footer-icon i {
	font-size: 30px
}
.footer-main p {
	margin-top: 26px;

	color: #21243D;

	font-size: 12px;
	line-height: 21px;
	text-align: center;
}
/* ****** */

@media screen and (max-width: 320px) {
	.header-logo {
		margin-right: -18%;
	}
	.introduce-img {
		margin-top: 43px;
		margin-left: 13.5%
	}
}
@media screen and (min-width: 410px) and  (max-width: 46em){
	.header-logo {
		margin-right: -40px;
	}
	.introduce-content {
		width: 350px;
		margin-left: 10px;
	}
	.introduce-btn {
		margin-left: 20px;
		margin-top: -15px
	}
	.introduce-img {
		margin-top: 43px;
		margin-left: 14%
	}
	.posts-main {
		width: 414px
	}
	.Dashboards-image {
		margin-left: -4px;
		width: 111%;
	}
	.Dashboards {
		padding-bottom: 25px; 
	}
	.Dashboards h2 {
		margin-bottom: 10px;
	}
	.footer-main  {
		left: 90px
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
	.header-logo {
		margin-right: 15px;
	}
	.introduce-img {
		margin-top: 43px
	}
	.introduce-content {
		width: 450px;
		margin-left: 135px
	}
	.introduce-btn {
		margin-left: 200px;
		margin-top: -15px
	}
	.posts-main {
		width: 106%
	}
}
@media screen and (min-width: 1024px) {
	.header-logo {
		display: none
	}
	.introduce-content {
		width: 450px;
		margin-left: 260px
	}
	.introduce-btn {
		margin-left: 310px;
		margin-top: -15px
	}
	.posts-main {
		width: 1024px
	}
}